.footer {
  max-width: 880px;
  margin: auto;
  padding-top: 67px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .footer {
    max-width: 880px;
    margin: auto;
    padding-top: 67px;
    color: white;
    text-align: center;
  }
}
